<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wsy.org.mytestapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".YashonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:theme">

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="wd7430306189bsqxmc" />

        <activity
            android:name=".ListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NewAppTheme.NoActionBar" />

        <activity android:name=".activity.HtmlStringTestActivity" />

        <activity
            android:name=".activity.ExpandTextviewActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.ScreenCaptureActivity"
            android:launchMode="standard" />


        <activity
            android:name=".activity.WidthHeightWeightLayoutActivity"
            android:launchMode="standard">

        </activity>

        <activity
            android:name=".activity.CircleImageViewActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.ChangeRecyclerViewItemHeightActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.Pull2RefreshListActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.SwipeRefreshLayoutTestActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.ReversalAnimationActivity"
            android:launchMode="standard" />
        <!--运行时权限-->
        <activity
            android:name=".activity.PermissionTestActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.TaskTestActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.AppbarLayoutTestActivity"
            android:launchMode="standard"
            android:theme="@style/NewAppTheme.NoActionBar" />


        <activity
            android:name=".activity.NoPaddingTestActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.NestedTestActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.EventBusActivity"
            android:launchMode="standard"
            android:theme="@style/NewAppTheme" />

        <activity
            android:name=".activity.LocationInWindowActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.ScrollViewHeightActivity"
            android:launchMode="standard"
            android:theme="@style/NewAppTheme" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activity.NotificationTestActivity">

        </activity>
        <activity
            android:name=".activity.RecyclerViewInScrollViewActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.WrapLayoutTestActivity" />
    </application>

</manifest>